.cross-validation-error input {
    border-left: 5px solid red;
  }
  .alertdanger{
      color:#dc3545;
      font-size: 80%;
      margin-top: 4%;
  }
  .card{
      background-color: white;
  }
  .formposition{
      margin-left: 40%;
      margin-right: 40%;
  }
  .inputstyle{
    display: block;
    width: 158%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    /* font-weight: 400; */
    line-height: 1.5;
    /* color: #495057; */
    /* background-color: #fff; */
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-top: 4%;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
.buttonstyle{
    color: white;
    /* background-color: #007bff; */
    border-radius: 10%;
    margin-top: 3px;
    width: 35%;
    height: 32px;
    border: none;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button{
    color: white;
    background-color: #007bff;
    border-radius: 10%;
    margin-top: 3px;
    width: 35%;
    height: 32px;
    border: none;
    margin-left:4%;
  }

.buttonstylereset{
    color: white;
    background-color: #007bff;
    border-radius: 10%;
    margin-top: 3px;
    width: 35%;
    height: 32px;
    border: none;
    margin-left:4%;
}